:root {
  --success: #28a745;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #212529;
  font-family: Arial;
  background-color: #796637;
}

header {
  display: flex;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--success);
}

.container {
  display: flex;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#lblsuccess {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--success);
  text-shadow: .1rem .1rem black;
}

.txt-input {
  border: none;
  height: 2rem;
  width: 25rem;
  background-color: #00000031;
  border-bottom: solid black .1rem;
}

.sub-btn {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  text-align: center;
  border-radius: .5rem;
  background-color: gray;
}

#tasksForm {
  width: 50rem;
  height: 18rem;
  overflow: scroll;
  margin-top: -3rem;
  border-radius: 2rem;
  background-color: white;
}

#tasksForm::scroll-bar {
  margin: 0;
  padding: 0;
  border-radius: 2rem;
  background-color: black;
}
